body {
 padding: 0px 1rem;
}
.tcenter {
 text-align: center;
}
#pg-title {
 border-bottom: 3px solid black;
}
#tbl-sched {
 border-collapse: collapse;
}
#tbl-sched tr {
 border-top: 1px solid black;
 border-bottom: 1px solid black;
}
#tbl-sched td {
 padding: 2px;
 min-width: 2rem;
 border-left: 1px solid black;
 border-right: 1px solid black;
 text-align: center;
}
